<%= link_to posts_path(artist_name: artist.name), class: "text-decoration-none" do %>
  <div class="card mb-3 p-2 text-white artist-result-item">
    <div class="card-body d-flex align-items-center">
      <% if artist.images.any? %>
        <%= image_tag(artist.images.first["url"], alt: artist.name, class: "me-3 rounded-circle search-image") %>
      <% else %>
        <%= image_tag("no_image.png", alt: "No Image", class: "me-3 rounded-circle search-image") %>
      <% end %>
      <h6 class="mb-0"><%= artist.name %></h6>
    </div>
  </div>
<% end %>
