<div class= "position-fixed">
  <div class="menu">
    <ul class="list-group">
      <li><%= link_to 'Home', root_path, class: 'nav-link px-2 text-white' %></li>
      <li><%= link_to 'Search', "#", class: 'nav-link px-2 text-white' %></li>
      <li><%= link_to 'Mypage', edit_user_registration_path, class: 'nav-link px-2 text-white' %></li>
      <li><%= link_to '投稿する', new_post_path, class: 'nav-link px-2 text-white' %></li>
    </ul>
  </div>
</div>
